body{
    font-family: 'Roboto', sans-serif;
}
.row{
    background: rgb(132, 121, 103);
    height: 100px;
    line-height: 100px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}
#table{
    width: 100%;
}
table{
    border: 1px solid black;
}
th{
    width: 20%;
    text-align: center;
}
tr:nth-child(odd){
    background: #ddd
}
tr:nth-child(even){
    background: #aaa
}
input[type=text]{
    height: 20px;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(209, 199, 184);
    background-color: rgb(255, 253, 250);
    border-radius: 5px;

}
input.szt{
    height: 20px;
    width: 50px;
    text-align: center;
}
input.pop{

}
input[type=button]{
    height: 20px;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(209, 199, 184);
    background-color: rgb(255, 253, 250);
    border-radius: 5px;    
}
