body{
    font-family: 'Roboto', sans-serif;
}
.row{
    background: rgb(6, 168, 232);
    height: 100px;
    line-height: 100px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    color: white;
}
#table{
    width: 100%;
}
.inner {
    display: table;
    margin: 0 auto;
  }
table{
    border: 1px solid #182838;
    border-radius: 3px;
}
th{
    width: 20%;
    text-align: center;
}
tr:first-child{
    background: #182838 !important;
    color: white;
}
tr:nth-child(even){
    background: white;
    color: black;
}
tr:nth-child(odd){
    background: rgb(6, 168, 232);
    color: white;
}
input[type=text]{
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid #182838;
    background-color: rgb(255, 253, 250);
    border-radius: 3px;
}
input.szt{
    height: 40px;
    width: 50px;
    text-align: center;
    border: 1px solid #182838;
    background-color: rgb(255, 253, 250);
    border-radius: 3px;
}
input[type=button]{
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid #182838;
    background-color: rgb(255, 253, 250);
    border-radius: 5px;    
}
.raport{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid #182838;
    background-color: rgb(6, 168, 232);
    border-radius: 3px;    
}
.schowane{
    display: none;
}